*{
	margin: 0;
	padding: 0;
	font-family: Century Gothics;
}
header{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../travel2.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #000;
	padding: 5px 20px;
	border: 1px solid #000 transparent;
	transition: 0.6s ease;

}
ul li a:hover{
	background-color: #fff;
	color: #000;
}
ul li.active a{
		background-color: #fff;
	color: #000;

}
.logo img{
	top: 10%;
	float: left;
	width: 100px;
	height: auto;
}
.main{
	max-width: 1200px;
	margin: auto;
}
.title{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.title h1{
	color: #fff;
	font: 70px;

}
.button{
		position: absolute;
	left: 50%;
	top: 65%;
	transform: translate(-50%,-50%);

}
.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;

}
.btn:hover{
		background-color: #fff;
	color: #000;


}
